 .reactMarkDownLight {
    background: #fff;
}

.reactMarkDownDark, .reactMarkDownLight {
    @apply py-2 pl-5 pr-10;
    font-family: 'Roboto Slab', serif;
}

.reactMarkDownDark h1 {
  color: rgb(255, 255, 255);
  @apply text-4xl font-bold my-4;
}
.reactMarkDownDark h2 {
  color: rgb(255, 255, 255);
  @apply font-bold my-4 text-3xl;
}
.reactMarkDownDark h3 {
  color: rgb(255, 255, 255);
  @apply font-bold my-4 text-2xl;
}
.reactMarkDownDark h4 {
  color: rgb(255, 255, 255);
  @apply font-bold my-4 text-xl;
}
.reactMarkDownDark h5 {
  color: rgb(255, 255, 255);
  @apply font-bold my-4 text-lg;
}
.reactMarkDownDark h6 {
  color: rgb(255, 255, 255);
  @apply font-bold my-4 text-base;
}
.reactMarkDownDark ol {
  list-style: decimal;
  margin-left: 30px;
  margin-bottom: 20px;
  color: rgb(193, 196, 203);
}
.reactMarkDownDark ul {
  list-style: none;
  position: relative;
  margin-left: 30px;
  margin-bottom: 20px;
  color: rgb(193, 196, 203);
}
.reactMarkDownDark  ul li::before {
  content: "•";
  font-family: Roboto Slab;
  color: rgb(239, 102, 67);
  position: absolute;
  font-weight: 900;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.reactMarkDownDark blockquote {
  border-left: 4px solid rgb(239, 102, 67);
  background-color: rgb(43, 45, 49);
padding: 24px;
margin-left: 0px;
margin-right: 0px;
border-radius: 4px;
margin-bottom: 20px;
}
.reactMarkDownDark blockquote p {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

.reactMarkDownDark a {
  text-decoration: underline;
}

.reactMarkDownDark pre {
  overflow-x: auto;
  background-color: rgb(43, 45, 49);
padding: 24px;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 0px;
margin-right: 0px;
border-radius: 4px;
}

.reactMarkDownDark p {
  color: rgb(193, 196, 203);
  @apply  mb-1 text-base;
}

.reactMarkDownDark code {
  color: rgb(193, 196, 203);
}


/* Light mode settings */

.reactMarkDownLight h1 {
  color: rgb(53, 57, 63);
  @apply text-4xl font-bold my-4;
}
.reactMarkDownLight h2 {
  color: rgb(53, 57, 63);
  @apply font-bold my-4 text-3xl;
}
.reactMarkDownLight h3 {
  color: rgb(53, 57, 63);
  @apply font-bold my-4 text-2xl;
}
.reactMarkDownLight h4 {
  color: rgb(53, 57, 63);
  @apply font-bold my-4 text-xl;
}
.reactMarkDownLight h5 {
  color: rgb(53, 57, 63);
  @apply font-bold my-4 text-lg;
}
.reactMarkDownLight h6 {
  color: rgb(53, 57, 63);
  @apply font-bold my-4 text-base;
}

.reactMarkDownLight p {
  color: rgb(102, 105, 107);
  @apply  mb-1 text-base;
}

.reactMarkDownLight li {
  color: rgb(102, 105, 107);
  @apply  mb-1 text-base;
}

.reactMarkDownLight ol {
  list-style: decimal;
  margin-left: 30px;
  margin-bottom: 20px;
  color: rgb(193, 196, 203);
}
.reactMarkDownLight ul {
  list-style: none;
  position: relative;
  margin-left: 30px;
  margin-bottom: 20px;
  color: rgb(193, 196, 203);
}
.reactMarkDownLight  ul li::before {
  content: "•";
  font-family: Roboto Slab;
  color: rgb(239, 102, 67);
  position: absolute;
  font-weight: 900;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.reactMarkDownLight blockquote {
  border-left: 4px solid rgb(239, 102, 67);
  background-color: rgb(91, 92, 94);
padding: 24px;
margin-left: 0px;
margin-right: 0px;
border-radius: 4px;
margin-bottom: 20px;
}
.reactMarkDownLight blockquote p {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

.reactMarkDownLight a {
  text-decoration: underline;
}

.reactMarkDownLight pre {
  overflow-x: auto;
  background-color: rgb(91, 92, 94);
padding: 24px;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 0px;
margin-right: 0px;
border-radius: 4px;
}

.reactMarkDownLight code {
  color: rgb(63, 64, 66);
}

.reactMarkDownLight pre code {
  color: #fff;
}